<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



{% for item in color %}
    <div
        style="height: 100px;
        width: 100px;
        border: 5px solid {{ item }};
        float: left;
        margin: 5px; " >
        {{ loop.index }}.{{ item }}
    </div>

       {% endfor %}


    <center>
{#        <h1>Name :{{ name | lower }}</h1>#}
{#        <h1>Gender :{{ gender | upper }}</h1>#}
{#        <h1>Age :{{ age | title }}</h1>#}
{##}
{##}
{#        {% if age >= 18 %}#}
{#        	<h1 style="color: red">Status : Adult</h1>#}
{#        {% endif %}#}
{##}
{#        {% if age < 18 %}#}
{#        	<h1 style="color: green">Status : Kid</h1>#}
{#        {% endif %}#}



    </center>
</body>
</html>